<form [formGroup]="itemForm" (ngSubmit)="onSubmit(itemForm.value)">
  <div>
    <label for="title">
      Title:
    </label>
    <input id="title" type="text" formControlName="title">
  </div>

  <div>
    <label for="description">
      Description:
    </label>
    <input id="description" type="text" formControlName="description">
  </div>

  <div>
    <label for="createdDate">Date Created:</label>
    <input type="date" id="createdDate" formControlName="createdDate">
  </div>

  <label>List: </label>
  <div *ngFor="let list of lists">
    <input type="radio" [id]="list.name" formControlName="list" [value]="list.id">
    <label [for]="list.name">{{ list.name }}</label><br>
  </div>

  <button class="button" type="submit">Add Item</button>
</form>
